app/views/homes/top.html.erb

  <div class="holder">
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div>
    <div class="txt">
      <h1>Welcom to TaskShare</h1>
      <p>Let's make account.</p>
    </div>
  </div>