views/post_files/index.html.erb
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User Info</h2>
      <%= render 'users/info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Files</h2>
      <span><%= link_to "Create Files",new_post_file_path %></span>
      <table class="table">
        <% @postfiles_all.each do |postfiles| %>
          <tr>
            <th><%= link_to postfiles.title, post_file_path(postfiles) %></th>
            <th><%= postfiles.updated_at %></th>
          </tr>
        <% end %>
      </table>
        
    </div>
  </div>
</div>